{
"presets": [
  [
  "@babel/env",
    {
      "modules": false,
      "targets": {
        "ie": "6",
        "edge": "17",
        "firefox": "20",
        "chrome": "40",
        "safari": "7"
        }
      }
    ]
  ],
  "plugins" : [
    "syntax-dynamic-import"
  ]
}